<footer class="bg-blue p-lg-5 position-relative mt-5">
    <div class="footer-inner">
        <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                       <a href=""><img alt="" class="logo" src="assets/img/logo_white.png"></a>
                    </div>
                    <div class="col-sm-7">
                         <p class="mb-0 text-md-center">© 2018 Chipmunc. All Rights Reserved</p>
                         </div>
                </div>
        </div>
    </div>
</footer>